@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;
  --color-bg-dark: #0a0502;
  --color-accent: #ff4e00;
  --color-accent-dim: #cc3e00;
  --color-surface: #1a1512;
  --color-text-primary: #e0d8d0;
  --color-text-secondary: #a09890;
}

body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-primary);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
